<p id="notice"><%= notice %></p>

<p>
  <strong>Profesor:</strong>
  <%= @formato.profesor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @formato.fecha %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @formato.curso %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @formato.grado %>
</p>

<p>
  <strong>Guia:</strong>
  <%= @formato.guia %>
</p>

<p>
  <strong>Leccion:</strong>
  <%= @formato.leccion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @formato.descripcion %>
</p>

<%= link_to 'Edit', edit_formato_path(@formato) %> |
<%= link_to 'Back', formatos_path %>
